@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white
}

@layer utilities {

  .custom-scrollbar {
    /* For WebKit (Chrome, Safari) */
    &::-webkit-scrollbar {
      width: 0; 
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent; 
    }
  
    /* For Firefox */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  
    /* For Internet Explorer and Edge */
    -ms-overflow-style: none;
  }

  .hero {
    @apply text-4xl lg:text-7xl font-semibold leading-tight
  }

  .link-mobile {
    @apply flex flex-row
  }

  .logo {
    @apply fixed right-6 top-8 md:right-12 md:top-20 lg:hidden text-2xl font-bold tracking-tight text-white
  }

  .main-div {
    @apply mx-auto min-h-svh max-w-screen-lg gap-10 font-sans lg:flex lg:justify-between lg:gap-12 px-6 md:px-12 lg:px-24 
          
  }

  .mobile-nav {
    @apply sticky bottom-4 md:bottom-10 md:w-full md:flex-row lg:hidden
    flex w-full flex-row justify-center gap-6
  }

  .nav {
    @apply max-lg:hidden sticky inset-y-0 flex h-svh flex-col justify-between py-24 max-w-max
  }

  .section {
    @apply w-full min-h-svh lg:py-24 flex flex-col justify-center snap-start 
  }
  
  .title {
    @apply mb-10 text-4xl text-white font-medium
  }
}
