@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* body {
  @apply bg-black text-white 
} */
body {
  @apply bg-black text-white font-medium leading-relaxed antialiased selection:bg-slate-600 selection:text-slate-300
}

p {
  @apply text-lg mb-4
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .header-mobile {
    @apply uppercase text-slate-100 sticky top-0
  }
  
  .custom-scrollbar {
    /* For WebKit (Chrome, Safari) */
    &::-webkit-scrollbar {
      width: 0; 
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent; 
    }
  
    /* For Firefox */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  
    /* For Internet Explorer and Edge */
    -ms-overflow-style: none;
  }
}
