@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white 
}
/* px-6 md:px-12 lg:p-24 
py-8 md:py-20  */

@layer utilities {

  .custom-scrollbar {
    /* For WebKit (Chrome, Safari) */
    &::-webkit-scrollbar {
      width: 0; 
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent; 
    }
  
    /* For Firefox */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  
    /* For Internet Explorer and Edge */
    -ms-overflow-style: none;
  }

  .intro {
    @apply max-md:self-center text-4xl md:text-5xl lg:text-7xl font-semibold
  }

  .logo {
    @apply fixed right-6 md:right-12 lg:right-24 top-8 md:top-20 lg:top-24 text-2xl font-bold tracking-tight text-white
  }

  .main-div {
    @apply h-svh min-h-svh w-svw snap-y snap-mandatory overflow-y-auto scroll-smooth font-sans
          
  }

  .nav {
    @apply fixed max-md:bottom-4 max-md:left-1/2 max-md:-translate-x-1/2 md:top-1/2 md:-translate-y-1/2 md:right-12 lg:right-24
  }

  .section {
    @apply w-full min-h-svh px-6 py-8 md:px-32 md:py-24 lg:py-24 lg:px-48 flex flex-col justify-center snap-start 
  }

  .socials {
    @apply fixed flex flex-col gap-2 max-md:hidden md:right-12 md:bottom-20 lg:right-24 bottom-24
  }
  
  .title {
    @apply mb-10 text-4xl text-white font-medium
  }

  .bground {
    background-color: rgb(232,232,227);
  }
}
